body {
	margin: 0;
	font-size: 14px;
	font-family: sans-serif;
}

h2 {
	font-weight: 100;
}

.container {
	max-width: 900px;
	margin: auto;
	padding: 15px;
}
.image {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 200px;
}
.image-one {
	background: url(../img/1.jpg) center no-repeat;
	background-size: cover;
}
.image-two {
	background: url(../img/2.jpg) center no-repeat;
	background-size: cover;
}
.image-three {
	background: url(../img/3.jpg) center no-repeat;
	background-size: cover;
}
.image-four {
	background: url(../img/4.jpg) center no-repeat;
	background-size: cover;
}

.image::before{
	content:"";
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.4);
	opacity: 0;
	transition: all .2s;
}

.image:hover::before{
	opacity: 1;
}

#two{
	height: 70px;
}

.button-one {
	display: inline-block;
	border: none;
	font-weight: 700;
	font-size: 14px;
 color: white;
 padding: .8em calc(1em + 2px) calc(.8em + 3px);
 border-radius: 3px;
 background: rgb(64,199,129);
 box-shadow: -2px -3px rgb(53,167,110) inset, 2px 2px rgba(0,0,0,.4);
 cursor: pointer;
 transition: 0.2s;
}

.button-one:hover{
	margin-top: .2em;
	padding: .8em 1em calc( .6em + 3px);
	box-shadow: 0 0 rgb(53,167,110) inset, 0 0 rgba(0,0,0,.4);
}

.button-two {
	display: inline-block;
 color: white;
 padding: .5em 2em;
 border: none;
 border-width: 2px 0;
 border-style: solid none;
 border-color: #FDBE33 #000 #D77206;
 border-radius: 6px;
 background: linear-gradient(#F3AE0F, #E38916) #E38916;
 cursor: pointer;
 transition: 0.2s;
}

.button-two:hover{
	background: linear-gradient(#f3700f, #e34b16) #e34b16;
	border-color: #fd8d33 #000 #d72806;
}